@font-face{
    font-family: Ubuntu-M;
    src: url(../fonts/Ubuntu-Medium.ttf)
}


.cardP {
    margin: 45px auto 20px;
    padding-bottom: 45px;
    border-radius: 16px;
    width: 85%;
    height: 1%;
    background-color: #272838;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cardBodyP {
    padding: 1rem;
}

.projectCard{
    margin: 45px 25px 0;
    border-radius: 16px;
    transition: 0.5s ease;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.column {
    float: left;
    width: 32%;
    padding: 0 10px;
}

.projectCard#virtualDesktop{
    background-color: #F47174;
   
}

.projectCard#foodForThought{
    background-color: #6FD397;
}

.projectCard#bao{
    background-color: #7289DA;
}

.projectCard#collaj{
    background-color: #296C97;
}

.projectCard#feedTheCat{
    background-color: #424242;
}

.cardHeaderP {
    font-size: 25px;
    color: white;
    position: relative;

}

.projectCardHeader {
    margin: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: Ubuntu-M;
}

.projectCardDesc {
    margin: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

.projectCardList {
    display: block;
    margin: 5px;
    font-size: 1rem;
    color: white;
    overflow: auto;
    text-align: center;
}

.alignBullet {
    list-style-position: inside;
}

ul li { 
    padding: 3px 0px;
}

.externalLinks {
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-styleP {
    color: white;
}

.icon-styleP:hover {
    color: #F52F57;
    transition: 0.3s;
}

.date {
    margin: 20px;
    font-size: 1.2rem;
    color: white;
    bottom: 0;
    left: 0;
}

.iconP {
    margin-bottom: 15px;
    position: absolute;
    left: 47%;
    bottom: 0px;
    color: white;
    transition: 0.5s ease;
}

.projectCard:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 18px white;
}

.projectCard#virtualDesktop:hover{
    background: linear-gradient(#F47174, #F69D3C);
}
.projectCard#foodForThought:hover{
    background: linear-gradient(#6FD397, #00bfff);
}
.projectCard#bao:hover{
    background: linear-gradient(#7289DA, #e66465);
}
.projectCard#collaj:hover{
    background: linear-gradient(#296C97, #333);
}
.projectCard#feedTheCat:hover{
    background: linear-gradient(#424242, #EB9199);
}

.projectCard:hover .iconP{
    transform: scale(1.5);
}

.cardDivider {
    border: 1px dashed white;
}

@media screen and (max-width: 1800px) {
    .column {
      width: 97%;
      display: block;
      margin-bottom: 20px;
    }
  }