.cardS {
    margin: 45px auto 0;
    border-radius: 16px;
    width: 85%;
    height: 35%;
    background-color: #272838;
    opacity: 90%;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}


.cardBodyS {
    padding: 1rem;
}

.cardHeaderS {
    font-size: 25px;
    color: white;
    opacity: 100%;

}

.cardDescriptionS {
    font-size: 1.2rem;
    color: #F5F5F5;
    padding-top: 5px;
    padding-left: 15px;
    /* color: #272838; */
}

.subHeader {
    padding-top: 5px;
    /* padding-bottom: 5px; */
}