@font-face{
    font-family: Ubuntu-B;
    src: url(../fonts/Ubuntu-Bold.ttf)
}

@font-face{
    font-family: Ubuntu-M;
    src: url(../fonts/Ubuntu-Medium.ttf)
}

.resumeButton {
    color: white;
    background-color: #F52F57;
    padding: 10px;
    border-radius: 12%;
}

.resumeButton:hover {
    background-color: white;
    color: #F52F57;
}

.navbar-style {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: #00bfff;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.navbar-style__invis {
    background-color: transparent;
}

.navbar-style .name {
    flex: 30%;
    display: flex;
    white-space: nowrap;
    justify-content: left;
    align-items: center;
}

.navbar-style .content {
    flex: 50%;
    display: flex;
    white-space: nowrap;
    justify-content: right;
    align-items: center;

}

.navbar-style .name .name-style{
    margin-left: 1rem;
    margin-right: 0.5rem;
    color: white;
    font-family: Ubuntu-B;

}

.navbar-style .name .icon-style{
    padding-top: 5px;
    color: white;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.navbar-style .name .icon-style:hover{
    color: #F52F57;
}

.navbar-style .content .link-styles a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
    color: white;
    font-family: Ubuntu-M;

}

.navbar-style .content .link-styles a:hover{
    color: #F52F57;
    cursor: pointer;
    transition: 0.3s;
}

.res-icon-style {
    display: none;
    color: white;
    size: 2rem;
}

.res-icon-style:hover {
    color: #F52F57;
    cursor: pointer;
    transition: 0.3s;

}

@media screen and (max-width: 1000px) {
    .navbar-style .content .link-styles:nth-child(1) {
        display: none;
    }
    .res-icon-style {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px
    }
}