.card {
    margin: 45px auto 0;
    border-radius: 16px;
    width: 85%;
    height: 35%;
    background-color: #272838;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}


.cardBody {
    padding: 1rem;
}

.cardHeader {
    font-size: 25px;
    color: white;
}

.cardDescription {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #F5F5F5;
}

hr {
    color: gray;
}